@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: #FFFFFF;
    margin: 20px;
}

h1 {
    font-weight: 700;
    font-size: 2.5em;
}

h2 {
    font-weight: 700;
    font-size: 2em;
    text-align: center;
}

h3 {
    font-weight: 400;
    font-size: 1.5em;
    text-align: left;
}

a {
    color: #FFD700;
    text-decoration: none;
}

a:hover {
    color: #FFD700;
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

header, footer {
    background-color: #800080;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #800080;
    padding: 10px;
}

nav a {
    color: #FFFFFF;
    margin: 0 10px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;
}

.button-container a {
    display: inline-block;
    background-color: #FFD700;
    color: #000000;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
}

.button-container a:hover {
    background-color: #FFF8DC;
}

.portrait-container {
    text-align: center;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.image-item-left, .image-item-right {
    width: 30%;
}

.image-item-left img, .image-item-right img {
    width: 100%;
}

.center {
    display: block;
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

figcaption.center {
    text-align: center;
}

.hobby-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.image-container {
    margin-right: 10px;
}

.hobby-item img {
    display: block;
}

.image-caption {
    text-align: center;
    font-style: italic;
    margin-top: 5px;
}
